.searchContainer {
  margin-top: 5px;
  width: 100%;
  height: 100px;
  background-color: rgb(230, 228, 204);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */

  padding-top: 10px;
}
.searchBox {
  margin-top: 10px;
  width: 50%;
  justify-items: center;
  display: flex;

  align-items: center;
}
.sendBtn {
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
  border: 3px solid rgb(196, 192, 192);
  color: rgb(77, 76, 76);
  border-radius: 5px;
  padding: 0.4em;
  margin-left: 50px;
}
.sendBtn:hover {
  background: rgb(197, 197, 159);
}
.search {
  width: 57%;
  height: 80%;
  border-radius: 5px;
  margin-left: 20px;
  border: 1px solid rgb(231, 231, 198);
}

.searchLabel {
}
.searchText {
  color: grey;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.7em;
  font-weight: 500;
}
.langBox {
  width: 50%;
  justify-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;

  align-items: center;
}
.select {
  width: 25%;
  height: 80%;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid beige;
  color: brown;
}
.langBox p {
  color: grey;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: 500;
  margin-left: 20px;
}
